/* generali */
* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}


/* header */

#barra {
    height: 50px;
    background-color: lightgray;
}

#pallini {
    height: 25px;
    width: 50px;
    background-color: lightseagreen;
    display: inline-block;
    margin-left: 10px;
}

#box-id {
    height: 25px;
    width: 70px;
    background-color: lightseagreen;
    display: inline-block;
    margin-left: 45%;
}

#pallini, #box-id{
    margin-top: 12px;
}

/* main */

#box-sfondo{
    height: calc(100vh - 120px);
    background-color: black;
}

/* pulsanti superiori */
#riga-pulsanti {
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
}

#speaker-view {
    height: 30px;
    /* debug */
    background-color: red;
    width: 50px;

}

#fullscreen {
    height: 30px;
    margin: 0 10px;
    /* debug */
    background-color: red;
    width: 30px;

}

/* webcam */
.webcam {
    display: flex;
    justify-content: space-around;

}

#box-sinistra, #box-destra {
    background-color: rgb(0, 81, 255);
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.freccia {
    width: 30px;
    height: 30px;
    background-color: seagreen;
}

#box-centro {
    width: 80%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.img{
    height: 50px;
    width: 19%;
    background-color: saddlebrown;
    margin: 5px;
}



/* footer */
#barra-footer {
    height: 70px;
    background-color: rgb(66, 65, 65);
    display: flex;
    justify-content: space-between;
}

#mic-vid {
    height: 100%;
    width: 10%;
    background-color: springgreen;

}

#navigazione {
    height: 100%;
    width: 60%;
    background-color: springgreen;
}

#endmeeting {
    height: 100%;
    width: 10%;
    background-color: springgreen;
}